/* Primary red rgb(230, 43, 30)
        #e62b1e
        */
        @import url('https://fonts.googleapis.com/css?family=Roboto:100');
        @import url('https://fonts.googleapis.com/css?family=Stalinist+One');
        *{
        	transition: ease all 0.2s;
        	font-family: 'Roboto', sans-serif;
        }
        body{
        	margin: 0;
        	padding: 0;
        	background: #fff;
        }
        a:hover { 
        	color: inherit; 
        	letter-spacing: 1px;
        	transition: ease all 0.2s;
        	text-decoration: none !important;
        } 
        #myVideo{
        	filter: blur(0px);
        	width: 100%;
        	/* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8)); */

        }
        nav{
        	background: rgba(0,0, 0,0);
        	width: 100%;
        	height: auto;
        	z-index: 999999;
        	position: absolute;
        	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
        }
        nav ul a {
        	color: rgba(0,0,0,1);
        	font-size: 16px;
        }
        .fa-bars:before {
        	content: "\f0c9";
        	color: #e62b1e;
        }
        .navClass{
        	background: rgba(255, 255, 255, 1);
        	/* border-bottom: 2px solid #e62b1e; */
        	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 100px 0 rgba(0, 0, 0, 0.19);
        }
        .sec1{
        	height: 100vh;
        	width: 100%;
        	overflow: hidden;
        	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.8)), url('images/art3.png');
        	background-attachment: fixed;
        	background-position: center;
        	background-repeat: no-repeat;
        	background-size: cover;
        	overflow: hidden;
        	top: 0;
        }
        #particles-js{
        	width: 100%;
        	height:100%;
        	opacity: 0.5;
        	z-index: -999;
        }
        /* tilt */
        #tedx{
        	width: 140px;
        	height: 40px;
        }
        #name{
        	font-size: 40px;
        	font-weight: 900;
        	color: #fff;
        }
        /* speakers cont */
        .div-speakers{
        	background: #eee;
        	width: 100%;
        	height: auto;
        	padding: 10px 10px 60px 10px;
        	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url('images/198309.jpg');
        	background-attachment: fixed;
        	background-position: center;
        	background-repeat: no-repeat;
        	background-size: cover;
        	overflow: hidden;

        }
        .center-x {
          width: 200px;
          height: 200px;
          top: 200px;
          left: 200px;
          -webkit-perspective: 1000px;
          perspective: 1000px;
        }
        .cube {
          width: 200px;
          height: 200px;
          position: absolute;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-transform: translateZ(100px) rotateX(90deg) rotateZ(-45deg);
          transform: translateZ(100px) rotateX(90deg) rotateZ(-50deg);
          transition: all 0.4s ease-in-out;
          cursor: pointer;
          margin-left: 25%;
        }
        .cube:hover {
        /* -webkit-transform: translateZ(-100px) rotateX(-120deg) rotateZ(135deg);
        transform: translateZ(-100px) rotateX(-120deg) rotateZ(135deg); */
        -webkit-transform: translateZ(100px) rotateX(90deg) rotateZ(-45deg);
        transform: translateZ(100px) rotateX(-90deg) rotateZ(-80deg);
        /* -webkit-transform: translateZ(100px) rotateX(90deg) rotateZ(-100deg);
        transform: translateZ(200px) rotateX(90deg) rotateZ(-100deg); */
      }
      .cube:hover > .back{
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.4), 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
      }
      .cube .side {
        position: absolute;
        width: 200px;
        height: 200px;
      }
      .cube .front {
        -webkit-transform: rotateY(0deg) translateZ(100px);
        transform: rotateY(0deg) translateZ(100px);
        background: rgba(255,255,255, 0.95);

      }
      .cube .back {
        -webkit-transform: rotateX(180deg) translateZ(100px);
        transform: rotateX(180deg) translateZ(100px);
        background: #ccc;
        box-shadow: 0 30px 110px 0 rgba(0, 0, 0, 0.4), -200px -140px 100px -50px rgba(0, 0, 0, 0.3);
      }
      /* right->back image */
      .cube .right {

        -webkit-transform: rotateY(90deg) translateZ(100px);
        transform: rotateY(90deg) translateZ(100px);
        background: blue;
        overflow: hidden;
      }
      .cube .right img{
        width: 200px;
        height: 200px;
        transform: rotate(90deg);
        object-fit: cover;
      }
      /* left ->front image  */
      .cube .left {
        -webkit-transform: rotateY(-90deg) translateZ(100px);
        transform: rotateY(-90deg) translateZ(100px);
        background: #3399ff;
      }
      .cube .left h2{
        transform: rotate(90deg);

      }
      .cube .left img{
        width: 200px;
        height: 200px;
        transform: rotate(90deg);
        object-fit: cover;
      }
      .cube .top {
        -webkit-transform: rotateX(90deg) translateZ(100px);
        transform: rotateX(90deg) translateZ(100px);
        background:#ddd;
      }
      .cube .top img{


      }
      /* bottom tedxjnec img */
      .cube .bottom {
        /* text */
        -webkit-transform: rotateX(-90deg) translateZ(100px);
        transform: rotateX(-90deg) translateZ(100px);
        background: rgba(255,255,255, 0.98);
      }
      .cube .bottom h3{
        text-align: center;
        margin-top: 10%;
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
      .cube .bottom img{

        bottom: 10px;
      }
      .ctx{
        margin-top: 100px;
        background: #e62b1e;
        height: 200px;
        border-bottom: 5px dotted #ffc800;
        border-top: 5px solid #ffc800;
      }
      .name{
        margin-top: 50px;
        /* box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0 rgba(0, 0, 0, 0.19); */ 
        padding: 10px;
        font-weight: 100;
        font-size: 40px;
        text-align: center;
      }
      .t{
        margin-top: 0px;
        /* box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0 rgba(0, 0, 0, 0.19); */ 
        padding: 10px;
        font-weight: 100;
        font-size: 40px;
        text-align: center;
      }
      .tp{
        margin-bottom: 10px;
        margin-top: 60px;
      }
      .sticker{
        display: inline-block;
        padding: 5px;
        background: #e62b1e;
        color: #fff;
        font-size: 10px;
        font-weight: 100;
        transform: rotate(90deg);
        position: absolute;
        z-index: 99;
        bottom: 10px;
        left: 10px;
        border-radius: 50%;
        border: 1px solid #ffc800;
      }

      /* end speakers cont */
      /* about cont */
      .div-about{
       height: auto;
       width: 100%;
       overflow: hidden;
       background: linear-gradient(to bottom, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)), url('images/art1.png');
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       overflow: hidden;
       padding-top: 60px;
     }
     /* end about cont */
     .title{
       font-size: 40px;
       margin-bottom: 0px;
       z-index: 99;
     }

     hr{
       width: 30%;
       background: rgb(230, 43, 30);
     }

     /* timer */
     #timer{
       background: ;
       width: 100%;
       height: auto;
       position: absolute;
       bottom: 10px;
       display: block;
     }
     #days {
       font-size: 40px;
       color: #e62b1e;
       margin-left: 10px;
       font-family: Helvetica Neue,Helvetica,Arial,sans-serif;font-weight: 900;
       background: rgb(255,255, 255, 0.8);
       padding: 10px;
       border-radius: 4px;

     }
     #hours {
       font-size: 40px;
       color: #e62b1e;
       margin-left: 10px;
       font-family: Helvetica Neue,Helvetica,Arial,sans-serif;font-weight: 900;
       background: rgb(255,255, 255, 0.8);
       padding: 10px;
       border-radius: 4px;
     }
     #minutes {
       font-size: 40px;
       color: #e62b1e;
       margin-left: 10px;
       font-family: Helvetica Neue,Helvetica,Arial,sans-serif;font-weight: 900;
       background: rgb(255,255, 255, 0.8);
       padding: 10px;
       border-radius: 4px;
     }
     #seconds {
       font-size: 40px;
       color: #e62b1e;
       margin-left: 10px;
       font-family: Helvetica Neue,Helvetica,Arial,sans-serif;font-weight: 900;
       background: rgb(255,255, 255, 0.8);
       padding: 10px;
       border-radius: 4px;
     }
     .time-text{
       color: #fff;
       font-size: 18px;
       margin-left: 15px;
     }

     /* idea */
     .div-idea{
       height: auto;
       width: 100%;
       overflow: hidden;
       /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6),rgba(0, 0, 0, 0.7)), url('images/198309.jpg'); */
       background: #e62b1e;
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       overflow: hidden;
       padding-top: 60px;
       padding-bottom: 60px;
     }
     /* end */


     /* partners */
     .div-partners{
      height: auto;
      width: 100%;
      overflow: hidden;
      background: #fff;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      padding-top: 30px;
      padding-bottom: 60px;
    }
    .partner-card{
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      height: 160px;
      width: 100%;
      background: #fff;
      margin-top: 15px;
    }
    /* end */
    /* team */
    .div-team{
      height: auto;
      width: 100%;
      overflow: hidden;
      background: #eee;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      padding-top: 60px;
      margin-bottom: 100px;
    }
    .team-title{
      background: #e62b1e;
      color: #fff;
      display: inline-block;
      padding: 6px;
      font-size: 24px;
      margin-bottom: 20px;
      margin-left: 14px;
    }
    .team-card{
      width: 100%;
      height: auto;
      background: #fff;
      padding-bottom: 10px;
      margin-top: 20px;
    }
    .team-card-poster{
      width: 100%;
      height: 100px;
      background: #3399ff;
    }
    .team-card-pic{
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background: #eee;
      position: absolute;
      top: 16px;
      left: 30%;
    }
    .team-card-name{
      font-size: 20px;
      margin-top: 40px;
    }
    .team-card-post{
      font-size: 15px;
      font-weight: 900;
      color: #e62b1e;
    }  
    .team-card-social{

    } 
    /* end */
    footer{
     background: #000;
     height: auto;   
   }
   .cc{
     padding: 20px;
     color: #fff;
     font-size: 14px;
   }
   /* button */
   .btn_e {
     padding: 10px 30px;
     cursor: pointer;
     font-weight: bold;
     display: inline-block;
     text-transform: uppercase;
     letter-spacing: 1px;
     position: relative;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
     border: 1px solid #e62b1e;
     color: #e62b1e;
     overflow: hidden;
   }
   .btn_e:after {
     content: '';
     position: absolute;
     z-index: 1;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
     width: 100%;
     height: 0;
     top: 50%;
     left: 50%;
     background: #e62b1e;
     opacity: 0;
     -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
     -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
     -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
     transform: translateX(-50%) translateY(-50%) rotate(45deg);
   }
   .btn_e:hover {
     color: #fff;
     box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 90px 0 rgba(0, 0, 0, 0.19);
   }
   .btn_e:hover:after {
     opacity: 1;
     height: 260%;
   }
   .btn_e span {
     position: relative;
     z-index: 2;
   }   
   /* 2 */
   .btn_e2 {
     padding: 10px 30px;
     cursor: pointer;
     font-weight: bold;
     display: inline-block;
     text-transform: uppercase;
     letter-spacing: 1px;
     position: relative;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
     color: #fff;
     background: #e62b1e;
     overflow: hidden;
   }
   .btn_e2:after {
     content: '';
     position: absolute;
     z-index: 1;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
     width: 100%;
     height: 0;
     top: 50%;
     left: 50%;
     background: #fff;
     opacity: 0;
     -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
     -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
     -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
     transform: translateX(-50%) translateY(-50%) rotate(45deg);
   }
   .btn_e2:hover {
     color: red;
     box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 90px 0 rgba(0, 0, 0, 0.19);
   }
   .btn_e2:hover:after {
     opacity: 1;
     height: 260%;
   }
   .btn_e2 span {
     position: relative;
     z-index: 2;
   } 


   /* spinner */
   #preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    z-index:99; /* makes sure it stays on top */
  }

  #status {
    width:50px;
    height:30px;
    position:fixed;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    margin:-25px 0 0 -15px; /* is width and height divided by two */
  }

  .spinner {
    margin: 0px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }

  .spinner > div {
    background-color:#e62b1e;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
      }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }

    footer{
      width: 100%;
    }